<h1>Join Our Mailing List:</h1>
<div id="mc_embed_signup">
    <form action="https://toposbookstore.us9.list-manage.com/subscribe/post?u=e7a069574ba4e52df8d8facd7&amp;id=765a88c315" class="validate" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
        <div id="mc_embed_signup_scroll">
            <div class="mc-field-group">
                <label for="mce-EMAIL">
                    Email <span class="asterisk">*</span>
                </label>
                <input class="required email" id="mce-EMAIL" name="EMAIL" type="email" value="" />
            </div>

            <div class="clear" id="mce-responses">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>

            <!--
                NOTE: Real people should not fill this in and expect good things. Do not remove this, or risk form bot signups.
            -->
            <div aria-hidden="true" style="position: absolute; left: -5000px;"><input name="b_e7a069574ba4e52df8d8facd7_765a88c315" tabindex="-1" type="text" value="" /></div>

            <div class="clear">
                <input class="button" id="mc-embedded-subscribe" name="subscribe" type="submit" value="Subscribe" />
            </div>
        </div>
    </form>
</div>
